@using ProductStore.Model;
@using StoreWeb.Helpers;
@model IEnumerable<ProductStore.Model.UserCredentialViewModel>
@Styles.Render("~/Content/css")


@helper BuildMenu(IEnumerable<UserCredentialViewModel> data, int? parentId = 0)

{
var items = data.Where(d => d.ParentCredentialid == parentId).OrderBy(i => i.Order);
if (items.Any())
{
       
            <div class="menu">
                <ul>
                    @foreach (var item in items)
                    {
                        <li>
                            <a class="hide" href="@item.Url">@item.FullNameCredential</a>
                            @MyHelpers.CreateSubMenu(Html, data, item.idCredential)
                        </li>
                    }
                </ul>
            </div>
                 
}


}
@BuildMenu(Model)
   
