@model StoreWeb.Models.CartIndexViewModel

@{
    ViewBag.Title = "GameStore: ваша корзина";
}

<h2>YOUR CART</h2>
<table class="table" width="20">
    <thead>
        <tr>
            <th class="text-center">quantity</th>
            <th>Product</th>
            <th class="text-right">Price</th>
            <th class="text-right">Total price</th>
            <th class="text-right">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
        <tr>
            <td class="text-center">@line.Quantity</td>
            <td class="text-left">@line.Product.Name</td>
            <td class="text-right">@line.Product.Price.ToString("# грн.")</td>
            <td class="text-right">
                @((line.Quantity * line.Product.Price).ToString("# грн."))
            </td>
            <td class="text-right">
                @using (Html.BeginForm("RemoveFromCart", "Cart"))
                {
                    @Html.Hidden("Id", line.Product.Id)
                    @Html.HiddenFor(x => x.ReturnUrl)
                    <input class="btn btn-sm btn-warning" type="submit" value="Delete" />
                }
            </td>
        </tr>
        }  
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total:</td>
            <td class="text-right">
                @Model.Cart.ComputeTotalValue().ToString("# грн.")
            </td>
        </tr>
    </tfoot>
</table>


<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnUrl">Продолжить покупки</a>
    @Html.ActionLink("Оформить заказ", "Checkout", null, new { @class = "btn btn-primary" })
</div>