@model IEnumerable<ProductStore.Model.ProductViewModel>


<div class="alert-info">
    <tr>
    @foreach (var p in Model)
    {
        <td height="10" width="250">
            <div>
                <strong>Code: </strong>@p.ProductCode
            </div>
            <div>
                <strong>Name: </strong>@p.Name
            </div>
            <div>
                <img src=@Url.Content(string.Format("/Pictures/{0}.jpg", @p.Id)) width="100" height="100" align="middle" hspace="5" vspace="5">
            </div>
            <div>
                <strong>Price:</strong>@p.Price.ToString("# грн.")
            </div>
            <div>
                @using (Html.BeginForm("AddToCart", "Cart"))
                {
                    <div class="pull-right">
                        @Html.Hidden("id",p.Id)
                        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                        <input type="submit" class="btn btn-success" value="Add to cart" />
                    </div>
                }
            </div>
        </td>
    }
    </tr>      
</div>