@model StoreWeb.Models.Helper.IndexViewModel
@using StoreWeb.Models.Helper
@{
    Layout =   "~/Views/Shared/_Layout.cshtml";
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
}

<!DOCTYPE html>

<html>
<head>
    <title>GetAll</title>
</head>
<body>
    <div>
        <div class="container">
            <div class="row">
                @foreach (var item in Model.Products)
                {
                    <div class="col-xl">
                        <div>
                            <strong>Code: </strong>@item.ProductCode
                        </div>
                        <div>
                            <strong>Name: </strong>@item.Name
                        </div>
                        <div>
                            <img src=@Url.Content(string.Format("/Pictures/{0}.jpg", @item.Id)) width="150" height="180" align="middle" hspace="5" vspace="5">
                        </div>
                        <div>
                            <strong>Price:</strong>@item.Price.ToString("#UAH")
                        </div>
                        <div>
                            @using (Html.BeginForm("AddToCart", "Cart"))
                            {
                                <div class="pull-right">
                                    @Html.Hidden("id", @item.Id)
                                    @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                                    <input type="submit" class="btn btn-success" value="Add to cart" />
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
            <div align="left">
            @Html.PageLinks(Model.PageInfo, x => Url.Action("GetAll", new { group = Model.CurrentGroup, page = x }))
        </div>


        </div>
        
    </div>   
            @*<div class="col-xl">
                Одна из трёх колонок
            </div>
            <div class="col-xl">
                Одна из трёх колонок
            </div>
            <div class="col-xl">
                Одна из трёх колонок
            </div>
            <div class="col-xl">
                Одна из трёх колонок
            </div>
            <div class="col-xl">
                Одна из трёх колонок
            </div>
            <div class="col-xl">
                Одна из трёх колонок
            </div>
            <div class="col-xl">
                Одна из трёх колонок
            </div>
        </div>
    </div>*@




    @*<div class="row">
            <div class="col-md-3"></div>
            <div class="col-1">
                <table border="1">
                    @{
                        int qty = 4;// к-ть в стрічку
                        int iterCount = Model.Products.Count() / qty;
                        var listOfGroup = Model.Products.Select((p, index) => new { p, index })
                                         .GroupBy(a => a.index / qty)
                                         .Select((grp => grp.Select(g => g.p).ToList()))
                                         .ToList();
                    }


                    @foreach (var item in listOfGroup)
                    {
                        @Html.Partial("ProductSummary", item);
                    }
                    <tfoot>
                        <tr>

                            <td colspan="6">
                                <div align="right">
                                    @Html.PageLinks(Model.PageInfo, x => Url.Action("GetAll", new { group = Model.CurrentGroup, page = x }))
                                </div>

                            </td>

                        </tr>
                    </tfoot>
                </table>

            </div>
        </div>*@

</body>
</html>
