@model IEnumerable<ProductStore.Model.OrderTypeViewModel>

@{
    ViewBag.Title = "Order types list";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
    @Styles.Render("~/Content/css");
}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Roles list</h3>
    </div>
    <div id="EditForm">
        @Html.ActionLink("Add new role", "Edit", null,
            new { @class = "btn btn-success" })
    </div>
    <table class="table table-striped table-condensed table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderTypeName)
            </th>

            <th class="text-center">Action</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderTypeId)
                </td>
                <td>
                    @Html.ActionLink(item.OrderTypeName, "Edit", new { item.OrderTypeId })
                </td>
                <td class="text-center">
                    @using (Html.BeginForm("Delete", "OrderType"))
                    {
                        @Html.Hidden("Id", item.OrderTypeId)
                        <input type="submit"
                               class="btn btn-danger"
                               value="Delete" />
                    }
                </td>
            </tr>
        }
    </table>
</div>